<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Fish-dead22_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{442,442}}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{442,442}}</string>
			<key>sourceSize</key>
			<string>{442,442}</string>
		</dict>
		<key>Fish-dead22_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,0},{281,281}}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,281}}</string>
			<key>sourceSize</key>
			<string>{281,281}</string>
		</dict>
		<key>Fish-dead22_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,0},{281,281}}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,281}}</string>
			<key>sourceSize</key>
			<string>{281,281}</string>
		</dict>
		<key>Fish-dead22_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,442},{281,281}}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,281}}</string>
			<key>sourceSize</key>
			<string>{281,281}</string>
		</dict>
		<key>Fish-dead22_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,442},{281,281}}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,281}}</string>
			<key>sourceSize</key>
			<string>{281,281}</string>
		</dict>
		<key>Fish-dead22_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,442},{281,281}}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,281}}</string>
			<key>sourceSize</key>
			<string>{281,281}</string>
		</dict>
		<key>Fish-dead22_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{843,442},{279,279}}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{279,279}}</string>
			<key>sourceSize</key>
			<string>{279,279}</string>
		</dict>
		<key>Fish-dead22_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,723},{286,286}}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{286,286}}</string>
			<key>sourceSize</key>
			<string>{286,286}</string>
		</dict>
		<key>Fish-dead22_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,723},{291,291}}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{291,291}}</string>
			<key>sourceSize</key>
			<string>{291,291}</string>
		</dict>
		<key>Fish-dead22_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{577,723},{309,309}}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{309,309}}</string>
			<key>sourceSize</key>
			<string>{309,309}</string>
		</dict>
		<key>Fish-dead22_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,723},{315,315}}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,315}}</string>
			<key>sourceSize</key>
			<string>{315,315}</string>
		</dict>
		<key>Fish-dead22_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1032},{345,345}}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{345,345}}</string>
			<key>sourceSize</key>
			<string>{345,345}</string>
		</dict>
		<key>Fish-dead22_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,1032},{345,345}}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{345,345}}</string>
			<key>sourceSize</key>
			<string>{345,345}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>size</key>
		<string>{1201,1377}</string>
		<key>textureFileName</key>
		<string>Fish-dead22.png</string>
	</dict>
</dict>
</plist>